// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = iphoneos appletvos iphonesimulator appletvsimulator macosx

SWIFT_VERSION = 5.0

IPHONEOS_DEPLOYMENT_TARGET = 11.0
TVOS_DEPLOYMENT_TARGET = 11.0
MACOSX_DEPLOYMENT_TARGET = 10.13
